SMS_PROVIDER=textbee

TEXTBEE_API_KEY=txb_oI87JXGisYw5RCIH1It5GSaRyNmfw9Qe
TEXTBEE_DEVICE_ID=6a79e56ceaac10680d08e494

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=

MAP_PROVIDER=leaflet
